class SummonClaude < Formula
  include Language::Python::Virtualenv

  desc "Bridge Claude Code sessions to Slack channels"
  homepage "https://github.com/wgordon17/summon-claude"
  url "__URL__"
  sha256 "__SHA256__"
  license "MIT"

  depends_on "rust" => :build
  depends_on "openssl@3"
  depends_on "python@3.13"

  def install
    virtualenv_install_with_resources
  end

  test do
    assert_match "summon, version", shell_output("#{bin}/summon version")
  end
end
